@media screen and (min-width:768px) {
  .container {
    width: 90%;
  }

  .row {
    flex-direction: row;
  }

  .activity .row,
  .benefits .row {
    flex-wrap: wrap;
  }
  
  .activity .col {
    width: calc(100% / 3);
  }
  
  .activity .col:first-child {
    width: calc(100% / 3 * 2);
  }

  .activity .img {
    justify-content: center;
  }

  .testimonials .col .card .txt {
    text-align: justify;
  }

  .testimonials .col .card .photo {
    margin-right: 40px;
    flex-shrink: 0;
  }

  .benefits .col {
    width: 50%;
  }

  .about-us .row .col:last-child {
    width: 400px;
    margin-left: 50px;
  }
}

@media screen and (min-width:1200px) {
  .container {
    max-width: 1140px;
  }

  header .col .icon-menu {
    display: none;
  }

  header .col nav {
  display: block;
  }

  .activity .card .row {
    flex-direction: row;
  }

  .activity .card .txt {
    width: 50%;
  }

  .activity .card .img {
    width: 50%;
    margin: 0 auto;
  }

  .activity .row {
    height: 100%;
  }

  .plan-develop .container{
    padding: 0 50px;
  }

  .plan-develop .card{
    max-width: 400px;
  }

  .plan-develop h3 {
   margin-top: 150px;
  }

  .plan-develop .row {
    align-items: end;
  }

  .benefits .col {
    width: calc(100% / 3);
  }

  .plan-develop .row {
    flex-direction: row;
    width: 100%;
    padding: 0 50px;
  }

  .plan-develop .col {
    width: calc(100% / 2);  
  }
}