@media screen and (min-width:768px) {
  .container {
    width: 90%;
  }

  .row {
    flex-direction: row;
  }

  .activity .row,
  .benefits .row {
    flex-wrap: wrap;
  }
  
  .activity .col {
    width: calc(100% / 3);
    height: 300px;
  }
  
  .activity .col:first-child {
    width: calc(100% / 3 * 2);
    height: 300px;
  }

  .benefits .col {
    width: 50%;
  }

  .about-us .row .col:last-child {
    width: 400px;
  }
}

@media screen and (min-width:1200px) {
  .container {
    max-width: 1140px;
  }

  header .col .icon-menu {
    display: none;
  }

  header .col nav {
  display: block;
}

  .benefits .col {
    width: calc(100% / 3);
  }

  .plan-develop .row {
    flex-direction: row;
    width: 100%;
    padding: 0 50px;
  }

  .plan-develop .col {
    width: calc(100% / 2);  
  }
}