* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section:nth-child(even) {
  padding-top: 50px;
  padding-bottom: 80px;
}

section:nth-child(odd) {
  background-color: #9792e4;
  padding: 50px 0;
}

.container {
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

.flex {
  display: flex;
}

/* .fix {
  position: fixed;
} */

.row {
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.col {
  width: 100%;
  padding: 10px;
}

.card {
  width: 100%;
}

.photo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.debug {
  border: 1px solid black;
}

/* HEADER */
header .row {
  flex-direction: row;
  color: white;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

header {
  height: 80px;
  background-color: #0084fd;
}

header .menu-header menu {
  display: none;
}
/* fine HEADER */

/* BODY */

/* ACTIVITY */
.activity .col {
  height: 350px;
  background-color: blue;
}

.activity .col:first-child {
  height: 600px;
}

.activity .col .card {
  height: 100%;
  background-color: #b5ddff;
  padding: 10px;
}
/* fine ACTIVITY */

/* PLANNING AND DEVELOPEMENT */
.plan-develop .row {
  flex-direction: column;
}

.card.planning {
  height: 600px;
}

.card.developement {
  height: 600px;
  padding: 25px;
  background-color: white;
}
/* fine PLANNING AND DEVELOPEMENT */

/* TESTIMONIALS */
.testimonials .col {
  text-align: center;
}

.testimonials .col .card {
  flex-direction: column;
  align-items: center;
  background-color: #9792e4;
  padding: 30px 20px;
}

.testimonials .col .card .photo {
  background-color: white;
}
/* fine TESTIMONIALS */

/* BENEFITS */
.benefits .col .card {
  height: 400px;
  background-color: white;
  padding: 30px;
}
/* fine BENEFITS */

/* ABOUT US */
.about-us .photo {
  background-color: black;
}
/* fine ABOUT US */

/* GET STARTED */
/* fine GET STARTED */

/* fine BODY */